html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.leaflet-container {
  height: 100vh !important;
  width: 100% !important;
  z-index: 1;
}

.crosshair-cursor {
  cursor: crosshair !important;
}
